@use "variables" as v;

:root {
    --vl-font-stack: var(--encore-body-font-stack, v.$font);
}
.vl-font-spicy {
    --vl-font-stack: SpicyLyrics, var(--fallback-fonts, sans-serif);
}
/* Nuke the empty ad placeholder container */
.ScclvBC0NsMgQLQC,
div[data-testid="test-ref-div"] {
    display: none !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}
